/* TABLE OF CONTENT
    1.menu part
    2.hero part
    3.our trusted companies
    4.hot deals
    5.about us part
*/
:root{
    --main-clolo: #244D4D;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
ul,li{
    list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
h1,h2,h3,h4,h5,h6,ul,li,a,p,i{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #5F5F64;
}
h2{
    font-family: 'Noto Serif', sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    color: var(--main-clolo);
}
/* menu part css */
.search_icon{
    margin-right: 45px;
    display: inline-block;
}
#myNav ul li a{
    margin: 0 30px;
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #242424;
}
#menu_part .logo img{
    padding: 19px 0;
}
.search_btn{
    background: transparent;
    border: none;
}
.modal_btm_border{
    border: none;
}
.modal_center {
    height: 100%;
    display: flex;
    align-items: center;
}
.s_btn_form{
    width: 100%;
    font-size: 16px;
}
.menuFix{
    background: #fff;
    -webkit-box-shadow: 0 22px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0 22px 20px rgba(0, 0, 0, 0.05);
    height: 100px;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: -40px;
    transform: translateY(40px);
    transition: transform .3s;
}
/* hero part css */
.banner_wrapper{
    position: relative;
}
.banner_wrapper .banner_img{
    display: block;
    background-position: center !important;
    background-size: cover !important;
    height: 700px;
    margin-left: auto;
    z-index: -1;
    width: 100%;
}
.banner_img{
    width: 100%;
}
.banner_dots_wrapper img{
    top: 40px;
    display: block;
    left: 40px;
    position: absolute;
    z-index: 9;
}
.banner_wrapper .overlay{
    position: absolute;
    width: 570px;
    height: 470px;
    left: 0px;
    top: 115px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(25px);
}
.banner_wrapper .overlay h1{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 54px;
    font-weight: 900;
    line-height: 72px;
    letter-spacing: -0.03em;
    color: var(--main-clolo);
}
.banner_wrapper .overlay {
    padding: 85px 80px 80px 0px;
}
.banner_wrapper .overlay p{
    margin-top: 20px;
}
.banner_btn{
    position: absolute;
    height: 126px;
    width: 126px;
    line-height: 126px;
    text-align: center;
    bottom: -20px;
    right: -20px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(25px);
    z-index: 1;
    box-shadow: 0 0 2px #ddd;
}
.banner_btn i{
    color: #fff;
    font-size: 18px;
}
.banner_slider{
    margin-right: 0;
    z-index: -1;
}
.hero_slide_arrow{
    right: -18px;
    position: absolute;
}
.arrow_next{
    top: 230px;
}
.arrow_prev{
    top: 200px;
}
.hero_arrow_dots{
    bottom: 305px;
    left: 100%;
    position: absolute;
}
.banner_wrapper{
    position: relative;
}
#hero_part{
    padding-bottom: 90px;
    overflow-x: hidden;
}
#hero_part .swiper-pagination-total {
    top: 10px;
    margin-top: 45px;
    position: absolute;
    left: 1px;
}
#hero_part .swiper-pagination-total::after {
    content: '';
    position: absolute;
    height: 30px;
    width: 2px;
    top: -30px;
    left: 9px;
    background: var(--main-clolo);
}
/* our trustes companies */
#trusted_companies{
    background: #F4F6F6;
    padding: 56px 0;
}
.trusted_companies_heading h3{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.14em;
    color: #031745;
}
.trusted_companies_heading {
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
}
.company_img_wrapper img{
    display: block;
}
/* hot deals css */
#hot_deal_part{
    padding: 100px 0;
}

.victor img {
    display: inline-block;
    height: 35.983604px;
    width: 21.23876px;
    margin: 0 10px 10px;
}
.heading_wrapper p{
    margin-top: 20px;
}
.hot_deal_conten_wapper h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.01em;
    padding: 25px 0;
    color: #3D3D3F;
}
/* about us part */
#about_us_part{
    padding: 60px 0 50px 0;
}
.about_part_header p{
    padding: 25px 0;
}
.about_cbtn{
    height: 54px;
    width: 165px;
    text-align: center;
    line-height: 54px;
    background: #F4F6F6;
    box-shadow: 0px 100px 80px rgba(36, 77, 77, 0.1), 0px 64.8148px 46.8519px rgba(36, 77, 77, 0.0759259), 0px 38.5185px 25.4815px rgba(36, 77, 77, 0.0607407), 0px 20px 13px rgba(36, 77, 77, 0.05), 0px 8.14815px 6.51852px rgba(36, 77, 77, 0.0392593), 0px 1.85185px 3.14815px rgba(36, 77, 77, 0.0240741);
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #5F5F64;
    transition: .5s;
    margin-left: auto;
    display: block;
}
.about_content h4{
    padding: 25px 0;
}
.about_part_header{
    padding-bottom: 65px;
}
.about_content{
    padding: 0 10px 90px 10px;
}
.about_content p{
    font-size: 16px;
}
.about_content h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    color: var(--main-clolo);
}
.about_img_btn{
    margin-top: 17px;
}
.about_img_first{
    margin-top: 50px;
}
.a_i_btm{
    margin-top: 30px;
}
.about_cbtn:hover{
    background: var(--main-clolo);
    color: #fff;
}
#about_us_part img{
    width: 100%;
}
/* products part css */
.products_heading_btn a{
    font-size: 17px;
    color: #3D3D3F;
}
.products_heading_btn a i{
    margin-left: 20px;
}
.products_heading_btn a:hover{
    color: var(--main-clolo);
}
.products_heading{
    padding-bottom: 60px;
}
.navTab_menu ul li h5{
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #A9A7A6;
    margin: 0 22px;
}
.navTab_menu ul li .nav-link.active{
    background: transparent;
}
.navTab_menu ul li .nav-link.active h5{
    color: var(--main-clolo);
}
.navTab_menu{
    padding-bottom: 100px;
}
.products_items{
    padding: 50px;
    background: #f5f5f5;
    z-index: -1;
    height: 320px;
    position: relative;
    margin-bottom: 160px;
}
.products_items h3{
    color: #3D3D3F;
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    margin-bottom: 25px;
}
.products_items span{
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    margin-right: 34px;
}
.products_items strike{
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #A9A7A6;
}
.products_items .overly{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50% ,-50%);
}
.products_items .product_icon{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #D6C4B8;
    color: #fff;
    line-height: 32px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 50px;
    transform: translateY(-50%);
}
/* client part css */
#testimonial_part {
    padding: 70px 0;
}
#testimonial_part .testimonial_part{
    background: #F4F6F6;
    padding: 120px;
    position: relative;
    z-index: 0;
}
.testimonial_header p{
    padding: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.01em;
    color: #3A4F65;

}
#testimonial_part .testimonial_part .overly{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.testimonial_header {
    position: relative;
    margin-bottom: 100px;
}
.testimonial_header .overlay{
    position: absolute;
    height: 78px;
    width: 78px;
    border-radius: 50%;
    line-height: 92px;
    right: -110px;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
}
.img_icon{
    position: relative;
}
.testimonial_img_wrapper .img{
    width: 100%;
    display: block;
}
.client_content_slider{
    margin-top: 40px;
}
.img_icon .overlay{
    position: absolute;
    top: 70px;
    left: 0;
    transform: translate(-50%);
    height: 68px;
    width: 68px;
    line-height: 68px;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    z-index: 9;
    filter: drop-shadow(0px 10px 18px rgba(0, 0, 0, 0.04));
}
.testimonial_content_wrapper p{
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    margin: 45px 0;
}
.testimonial_content_wrapper h5{
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #152137;
}
.testimonial_content_wrapper span{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #647383;
    display: block;
}
.client_slider_arrow{
    position: absolute;
    height: 61px;
    width: 61px;
    border-radius: 50%;
    line-height: 61px;
    text-align: center;
    background: #fff;
    color: #000;
    transition: .5s;
    bottom: -97px;
}
.right_arrow {
    left: 1px;
}
.client_content_slider {
    margin-top: 5px;
}
.left_arrow {
    left: 80px;
}
.testimonial_part a:hover{
    background: var(--main-clolo);
    color: #fff;
}
#testimonial_part .testimonial_part .overly img{
    width: 100%;
}
/* footer part css */
#footer_part{
    background: var(--main-clolo);
    padding: 140px 0;
}
.footer_header h3{
    font-weight: 400;
    font-size: 45px;
    line-height: 60px;
    color: #FFFFFF;
}
.footer_btn a{
    background: #FCFBFF;
    border-radius: 30px;
    height: 60px;
    width: 200px;
    line-height: 60px;
    text-align: center;
    color: var(--main-clolo);
    margin: 0 20px;
}
.footer_top{
    border-bottom: 1px solid #676868;
    padding-bottom: 62px;
}
.footer_btm{
    padding-top: 70px;
}
.footer_logo img{
    margin-bottom: 40px;
}
.footer_logo{
    padding: 20px 25px 0 0;
}
.footer_logo p{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #EEEEEE;
    padding-bottom: 40px;
}
.footer_logo i{
    color: #fff;
    font-size: 20px;
    margin-right: 25px;
}
.footer_content ul li a{
    margin-top: 25px;
    display: block;
    font-family: 'Inter',sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #EEEEEE;
}
.footer_content_header{
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
}
#about_us_part img{
    width: 100%;
}
 